<?xml version="1.0"?>
  <appSettings>
    <add key="populateMockData" value="true" />
    <add key="webPages:Enabled" value="false" />
    <!--<add key="servicestack:license" value="1001-e1JlZjoxMDAxLE5hbWU6VGVzdCBCdXNpbmVzcyxUeXBlOkJ1c2luZXNzLEhhc2g6UHVNTVRPclhvT2ZIbjQ5MG5LZE1mUTd5RUMzQnBucTFEbTE3TDczVEF4QUNMT1FhNXJMOWkzVjFGL2ZkVTE3Q2pDNENqTkQyUktRWmhvUVBhYTBiekJGUUZ3ZE5aZHFDYm9hL3lydGlwUHI5K1JsaTBYbzNsUC85cjVJNHE5QVhldDN6QkE4aTlvdldrdTgyTk1relY2eis2dFFqTThYN2lmc0JveHgycFdjPSxFeHBpcnk6MjAxMy0wMS0wMX0="/>-->
    <add key="RecreateAuthTables" value="True"/>
    <add key="AdminUserNames" value="cory.c.taylor@gmail.com"/>
    <!-- Auth config -->
    <add key="oauth.RedirectUrl" value="http://localhost:4374/"/>
    <!-- Should match with OAuth2's App Callback URL -->
    <add key="oauth.CallbackUrl" value="http://localhost:4374/auth/{0}"/>
    <!-- Create Twitter App at: https://dev.twitter.com/apps -->
    <add key="oauth.twitter.ConsumerKey" value="1wJml9DFi5Kipuzci56racKYe"/>
    <add key="oauth.twitter.ConsumerSecret" value="MPo5TuVa3k1n4ERgQFbzlMJi6PNlt66wdm8yT5vm3tfXD83uvR"/>
    <!-- Create Facebook App at: https://developers.facebook.com/apps -->
    <add key="oauth.facebook.Permissions" value="email,read_stream,offline_access"/>
    <add key="oauth.facebook.AppId" value="325581544306297"/>
    <add key="oauth.facebook.AppSecret" value="b3653e6bf59ecf0b30e2ce49bec933a2"/>
    <!-- Create Google App at: https://code.google.com/apis/console/ -->
    <add key="oauth.GoogleOAuth.ConsumerKey" value="145864700551-992t3dl29vn5k65d01hc9h4vile15hv8.apps.googleusercontent.com"/>
    <add key="oauth.GoogleOAuth.ConsumerSecret" value="Q1cXSyynh04nMwI4rGe-yN2Y"/>
    <add key="oauth.GoogleOAuth.AuthorizeUrl" value="https://accounts.google.com/o/oauth2/auth?prompt=consent"/>
    <!-- Create LinkedIn App at: https://www.linkedin.com/secure/developer?newapp= -->
    <add key="oauth.LinkedIn.ConsumerKey" value="78ych130go9o42"/>
    <add key="oauth.LinkedIn.ConsumerSecret" value="0UfyQrbByVxQVx40"/>
  </appSettings>