@inherits ViewPage

@{
    ViewBag.Title = "LEarning Loop";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    Default page placeholder
    </div>
</body>
</html>
