@{
    ViewBag.BodyClass = "Home";
}

@section pageHeader{
    <div class="ui information">
        <h1 class="ui inverted header">
            It's about relationships.
        </h1>
        <p>
            Early childhood development sets the foundation for life long learning, behaviour, and health. That's why LearningLoop makes it easier than ever to keep track of your child's milestones, and work as a team with their educators. You can even talk to your child's ECE about questions you might have.
        </p>
    </div>
}

<div class="ui vertical feature segment">
    <div class="ui centered page grid">
        <div class="fourteen wide column">
            <div class="ui three column center aligned stackable divided grid">
                <div class="column">
                    <p>Fosters respect in children for diversity, equity and inclusion</p>
                    <p>
                        <a class="ui button" href="#">
                            Learn
                        </a>
                    </p>
                </div>
                <div class="column">
                    <p>Strengthens the ability of early childhood settings to meet the needs of young children</p>
                    <p>
                        <a class="ui blue right labeled icon button" href="#">
                            Research
                            <i class="right chevron icon"></i>
                        </a>
                    </p>
                </div>
                <div class="column">
                    <p>Strengthens partnerships between families &amp; communities.</p>
                    <p>
                        <a class="ui button" href="#">
                            Share
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui vertical segment">
    <div class="ui stackable center aligned page grid">
        <div class="row">
            <div class="column">
                <h2 class="ui header">
                    In The Press
                </h2>
                <div class="ui horizontal divider"><i class="heart icon"></i></div>
            </div>
        </div>
        <div class="four column logo row">
            <div class="column">
                <div class="ui shape">
                    <div class="sides">
                        <div class="active side">
                            <a target="_blank" href="http://www.techvibes.com/blog/learningloop-takes-first-prize-at-startup-weekend-toronto-edu-2013-08-13">
                                <img src="<%= asset_path('press/techvibes-logo.png') %>">
                                <i class="huge techvibes icon"></i>
                            </a>
                        </div>
                        <div class="side">
                            <a target="_blank" href="http://edtechtimes.com/2013/08/12/startup-weekend-toronto-edu-announces-winners/">
                                <img src="<%= asset_path('press/ed-tech-times.png') %>">
                                <i class="huge edtechtimes icon"></i>
                            </a>
                        </div>
                        <div class="side">
                            <a target="_blank" href="http://www.betakit.com/learningloop-captures-20000-startup-weekend-toronto-edu-grand-prize/?utm_content=buffer0a3b1&utm_source=buffer&utm_medium=twitter&utm_campaign=Buffer">
                                <img src="<%= asset_path('press/betakit.png') %>">
                                <i class="huge betakit icon"></i>
                            </a>
                        </div>
                        <div class="side">
                            <a target="_blank" href="https://www.edsurge.com/n/2013-08-13-startup-weekend-edu-charges-up-toronto">
                                <img src="<%= asset_path('press/ed-surge.png') %>">
                                <i class="huge edsurge icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="ui horizontal divider"><i class="heart icon"></i></div>
                <p>Download our Press Release</p>
                <p>For inquiries about our beta launch, please contact <a href="mailto:info@learningloop.ca">info@learningloop.co</a></p>
            </div>
        </div>
    </div>
</div>