@{
    Layout = "Empty";
    var search = (@Request.PathInfo ?? "").SplitOnLast("/").Last().Trim();
}
<!DOCTYPE html>
<html>
<head>
    <title>Page Not Found</title>
    <style>
        BODY {
            background-color: white;
            color: #000000;
            font-family: Verdana;
            margin: 0;
        }

        H1 {
            background-color: #c30;
            color: #FFF;
            font-family: Tahoma;
            font-size: 26px;
            font-weight: normal;
            margin: 0;
            padding: 10px 0 3px 15px;
        }

        #content {
            padding: 15px;
        }

    </style>
</head>
<body>
    <h1>Page Not Found</h1>

    <div id="content">
        <p>
            We're sorry <b>@Request.PathInfo</b> is no longer here.
        </p>
    </div>

</body>
</html>