@using LearningLoop.Core.WebServices
@inherits ViewPage<AccountResponse>
@{
    ViewBag.BodyClass = "Home";
    Layout = "_Layout.cshtml";
}

@section pageHeader{
<div class="ui information">
    <h1 class="ui inverted header">
        Teacher Home
    </h1>
    <p>View you class below</p>
</div>
}

<div class="ui vertical segment">
    <div class="ui very relaxed stackable page grid">
        <div class="row">
            <div class="column">
                <h1 class="center aligned ui inverted header">
                    The Best Cat Articles
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div id="class-roster" class="ui cards">
                    <div class="card">
                        <div class="dimmable image">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <div class="ui inverted button" data-click="trigger:add-child">Add Child</div>
                                    </div>
                                </div>
                            </div>
                            <img src="/img/no-profile-pic-200.png">
                        </div>
                    </div>
                    @foreach (var student in this.Model.Class.Roster)
                    {
                        <div class="card">
                            <div class="image">
                            <img src="/img/@(student.Gender)1.png">
                            </div>
                            <div class="content">
                                <div class="header">@student.DisplayName</div>
                                <div class="meta">
                                    <a class="group">Friends</a>
                                    <a class="created">
                                        Joined in 2011
                                    </a>
                                </div>
                            </div>
                            <div class="ui bottom attached button">
                                <i class="edit icon"></i>
                                Edit
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
        $(document).bindHandlers();
        App.roster = @this.Model.Class.Roster.AsRawJson();

        $(document).on('add-child', function () {
            console.log("adding child");
        });

        $("#form-login").bindForm({
            success: function (r) {
                $(".ui.standard.modal").modal('hide');
                localStorage["Username"] = $("[name=Username]").val();
                $(document).trigger('signed-in');
            }
        });
</script>