@inherits ViewPage<LearningLoop.Core.WebServices.AccountResponse>
@{
    ViewBag.BodyClass = "Home";
    Layout = "_Layout.cshtml";
}

@section pageHeader{
<div class="ui information">
    <h1 class="ui inverted header">
        Teacher Home
    </h1>
    <p>View you class below</p>
</div>
}

<div class="ui vertical segment">
    <div class="ui very relaxed stackable page grid">
        <div class="row">
            <div class="column">
                <h1 class="center aligned ui inverted header">
                    The Best Cat Articles
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="ui cards">
                    <div class="card">
                        <div class="image">
                            <img src="/images/avatar/large/elliot.jpg">
                        </div>
                        <div class="content">
                            <div class="header">Elliot Fu</div>
                            <div class="meta">
                                <a class="group">Friends</a>
                            </div>
                            <div class="description">
                                Elliot Fu is a film-maker from New York.
                            </div>
                        </div>
                        <div class="extra content">
                            <a class="right floated created">
                                Joined in 2011
                            </a>
                            <a class="friends">
                                <i class="user icon"></i>
                                22 Friends
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="/images/avatar/large/helen.jpg">
                        </div>
                        <div class="content">
                            <div class="header">Helen Troy</div>
                            <div class="meta">
                                <a class="group">Friends</a>
                            </div>
                            <div class="description">
                                Helen Troy is an archivist living in New York, who enjoys cooking, fine art, and gardening.
                            </div>
                        </div>
                        <div class="extra content">
                            <a class="right floated created">
                                Joined in 2013
                            </a>
                            <a class="friends">
                                <i class="user icon"></i>
                                22 Friends
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="/images/avatar/large/jenny.jpg">
                        </div>
                        <div class="content">
                            <div class="header">Jenny Hess</div>
                            <div class="meta">
                                <a class="group">Friends</a>
                            </div>
                            <div class="description">
                                Jenny is a student studying Media Management at the New School.
                            </div>
                        </div>
                        <div class="extra content">
                            <a class="right floated created">
                                Joined in 2012
                            </a>
                            <a class="friends">
                                <i class="user icon"></i>
                                22 Friends
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="/images/avatar/large/veronika.jpg">
                        </div>
                        <div class="content">
                            <div class="header">Veronika Ossi</div>
                            <div class="meta">
                                <a class="group">Friends</a>
                            </div>
                            <div class="description">
                                Veronika Ossi is a set designer living in New York who enjoys kittens, music, and partying.
                            </div>
                        </div>
                        <div class="extra content">
                            <a class="right floated created">
                                Joined in 2013
                            </a>
                            <a class="friends">
                                <i class="user icon"></i>
                                22 Friends
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="/images/avatar/large/stevie.jpg">
                        </div>
                        <div class="content">
                            <a class="header">Stevie Feliciano</a>
                            <div class="meta">
                                <span class="date">Joined in 2014</span>
                            </div>
                            <div class="description">
                                Stevie Feliciano is a library scientist living in New York City.
                            </div>
                        </div>
                        <div class="extra content">
                            <a>
                                <i class="user icon"></i>
                                22 Friends
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="image">
                            <img src="/images/avatar/large/steve.jpg">
                        </div>
                        <div class="content">
                            <div class="header">Steve Jobes</div>
                            <div class="meta">
                                <a class="group">Acquaintances</a>
                            </div>
                            <div class="description">
                                Steve Jobes is a fictional character designed to resemble someone familiar to readers.
                            </div>
                        </div>
                        <div class="extra content">
                            <a class="right floated created">
                                Joined in 2014
                            </a>
                            <a class="friends">
                                <i class="user icon"></i>
                                22 Friends
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui inverted footer vertical segment">
    <div class="ui stackable center aligned page grid">
        <div class="ten wide column">
            <div class="ui three column center aligned stackable grid">
                <div class="column">
                    <h5 class="ui inverted header">Courses</h5>
                    <div class="ui inverted link list">
                        <a class="item">Registration</a>
                        <a class="item">Course Calendar</a>
                        <a class="item">Professors</a>
                    </div>
                </div>
                <div class="column">
                    <h5 class="ui inverted header">Library</h5>
                    <div class="ui inverted link list">
                        <a class="item">A-Z</a>
                        <a class="item">Most Popular</a>
                        <a class="item">Recently Changed</a>
                    </div>
                </div>
                <div class="column">
                    <h5 class="ui inverted header">Community</h5>
                    <div class="ui inverted link list">
                        <a class="item">BBS</a>
                        <a class="item">Careers</a>
                        <a class="item">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="six wide column">
            <h5 class="ui inverted header">Contact Us</h5>
            <addr>
                237 Catberry Road <br>
                Milton Keynes, London <br>
            </addr>
            <p>(404) 867-5309</p>
        </div>
    </div>
</div>