<div class="ui inverted footer vertical segment ui fixed bottom sticky">
    <div class="ui stackable center aligned page grid">
        <div class="ten wide column">
            <div class="ui three column center aligned stackable grid">
                <div class="column">
                    2015 &copy; LearningLoop
                </div>
            </div>
        </div>
        <div class="six wide column">
            <h5 class="ui inverted header">Contact Us</h5>
            <addr>
                Toronto, Canada <br>
            </addr>
            <p>info@learningloop.ca</p>
        </div>
    </div>
</div>